:root {
    --main-font-color: #333333;
    --white-font-color: #FFFFFF;
    --transparent-font-color: rgba(255, 255, 255, 0.5);
    --footer-background: #333333;
    --calculator-font-color: #858587;

    --pink-background: #FAEEEE;
    --review-background: #F7F6F5;
    --yellow-color: #F6DA18;
    --aqua-color: #48BFCD;
    --aqua-color-hover: #3ca9b6;
    --header-page-color: #C5C5C5;
    --price-table-color: #e5e5e5;
    --calculator-border-color: #e3e3e5;
    --warning-color: #FF6E57;
}